.introduction-block {
  margin-top: 10%;
  grid-area: introduction-block;
}

.introduction-block:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  height: 500px;
  padding: 10px;
}

.profile-photo-block {
  text-align: center;
  width: 50%;
  /* grid-area: profile-photo; */
}

.profile-photo {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

.typewriter-block {
  width: 50%;
  padding-top: 25px;
  /* grid-area: ide-typewriter; */
}

.typewriter {
  width: 90%;
  height: 90%;
  padding: 30px 20px;
  text-align: left;
  background-color: rgb(45, 45, 45);
  color: white;
  border-radius: 30px;
}

.social-links-block {
  text-align: center;
  grid-area: social-links-block;
  size: 30px;
}

.social-links-block > span {
  font-family: "Sans-serif", Arial, Verdana;
  font-size: 1.2rem;
  padding: 5px;
}

.social-links-block > a {
  padding: 5px;
  transition: opacity 0.35s ease;
}

.githubLogo {
  font-size: 2em;
}

.linkedinLogo {
  font-size: 2em;
}

.githubLogo:hover {
  opacity: 0.7;
}

.linkedinLogo:hover {
  opacity: 0.7;
}

.coffee-invitation {
  font-family: "Sans-serif", Arial, Verdana;
  font-size: 1.2rem;
  text-align: center;
}

/* .grid-container {
  display: grid;
  grid-template-areas:
    "introduction-block"
    "social-links-block";
} */
