<div class="container">
  <div class="introduction-block">
    <div class="column profile-photo-block">
      <img class="profile-photo" src="../assets/profile-pic-sid.jpg" />
      <p class="profile-name">SIDHANT BHATIA</p>
      <p class="profile-description">i write code.</p>
    </div>
    <div class="column typewriter-block">
      <ide-typewriter class="column typewriter"></ide-typewriter>
    </div>
    <div class="column info-block">
      <info-description></info-description>
    </div>
  </div>
  <div class="social-links-block">
    <span>
      <a
        href="https://github.com/siddhantbhatia"
        target="_blank"
        class="logo fab fa-github fa-2x"
      ></a>
      <a
        href="https://www.linkedin.com/in/sidhantbhatia25/"
        target="_blank"
        class="logo fab fa-linkedin fa-2x"
      ></a>
      <a
        href="https://drive.google.com/open?id=1bt4xrknYB6Qgw2cudfp66IQpBrlGMBWY"
        target="_blank"
        class="logo fas fa-file-alt fa-2x"
      >
      </a>
    </span>
  </div>
  <div class="coffee-footer">
    <a
      href="mailto:sidhant3b@gmail.com?Subject=Let&#39;s%20have%20coffee?"
      target="_top"
      >Hit me up for<span class="logo fas fa-coffee"></span
    ></a>
  </div>
</div>
