.introduction-block {
  margin-top: 10%;
}

.introduction-block:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  /* height: 500px; */
  width: 50%;
}

.profile-photo-block {
  text-align: center;
  /* grid-area: profile-photo; */
}

.profile-photo {
  border-radius: 50%;
}

.profile-photo-block > p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 5px;
}

.profile-name {
  color: black;
}

.profile-description {
  /* font-size: 2em; */
  color: rgba(14, 12, 12, 0.829);
}

.typewriter-block {
  /* padding-top: 25px; */
  /* grid-area: ide-typewriter; */
}

.typewriter {
  /* width: 90%;
  height: 400px;
  padding: 50px 30px; */
  text-align: left;
  background-color: rgb(45, 45, 45);
  color: white;
  border-radius: 30px;
  /* font-size: 1.25em; */
}

.info-block {
  display: none;
  text-align: left;
  margin: 5px 20px 5px 15px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: rgba(14, 12, 12, 0.603);
}

.social-links-block {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 5px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.social-links-block > a {
  padding: 5px;
  transition: opacity 0.35s ease;
}

.githubLogo {
  padding: 5px;
}

.githubLogo:hover {
  opacity: 0.5;
}

.linkedinLogo {
  padding: 5px;
}

.linkedinLogo:hover {
  opacity: 0.5;
}

.coffee-footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  padding: 5px;
}

.coffeeLogo {
  padding: 5px;
}

.coffeeLogo:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 20px;
  }
  .profile-photo-block {
    text-align: left;
    padding: 10px;
    height: 230px;
  }

  .profile-photo {
    width: 150px;
  }

  .profile-name {
    font-size: 2em;
  }

  .profile-description {
    font-size: 1.5em;
  }

  .column {
    height: 240px;
    width: 100%;
  }

  .typewriter-block {
    display: none;
    /* height: 280px;
    padding: 20px 5px; */
  }

  .info-block {
    display: block;
  }

  .social-links-block {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .coffee-footer {
    color: rgba(14, 12, 12, 0.603);
    font-size: 0.95em;
    padding: 0px;
  }
}

@media only screen and (min-width: 600px) {
  .introduction-block {
    margin-top: 3%;
  }
  .profile-photo-block {
    width: 40%;
    padding: 5px;
    height: 130px;
  }

  .profile-photo {
    width: 140px;
  }

  .profile-name {
    font-size: 1.5em;
  }

  .profile-description {
    font-size: 1.2em;
  }

  .column {
    height: 200px;
  }

  .typewriter-block {
    /* display: none; */
    /* height: 280px; */
    width: 60%;
    padding: 5px;
  }

  .typewriter {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 992px) {
  .introduction-block {
    margin-top: 10%;
  }

  .profile-photo-block {
    text-align: center;
  }

  .profile-photo {
    width: 300px;
  }

  .profile-name {
    font-size: 4em;
  }

  .profile-description {
    font-size: 2em;
  }

  .column {
    height: 500px;
  }

  .typewriter-block {
    padding-top: 25px;
    /* grid-area: ide-typewriter; */
  }

  .typewriter {
    width: 90%;
    height: 400px;
    padding: 50px 30px;
    font-size: 1.25em;
  }
}
