<div class="container">
  <div class="introduction-block">
    <div class="column profile-photo-block">
      <img
        class="profile-photo"
        src="assets/profile-pic-sid.jpg"
        alt="siddhant-profile-photo"
      />
      <p class="profile-name">
        <span style="color: rgb(45, 90, 150)">Sid</span>dhant
        <span style="color: rgb(45, 90, 150)">B</span>hatia
      </p>
      <p class="profile-description">i write code.</p>
    </div>
    <div class="column typewriter-block">
      <ide-typewriter class="column typewriter"></ide-typewriter>
    </div>
    <div class="column info-block">
      <info-description></info-description>
    </div>
  </div>
  <div class="social-links-block">
    <span>
      <a
        href="https://drive.google.com/open?id=1bt4xrknYB6Qgw2cudfp66IQpBrlGMBWY"
        target="_blank"
        class="logo-holder"
      >
        <img src="assets/cvlogo.png" class="logo" alt="cv-logo" />
      </a>
      <a
        href="https://github.com/siddhantbhatia"
        target="_blank"
        class="logo-holder"
      >
        <img src="assets/githubLogo.png" class="logo" alt="github-logo" />
      </a>
      <a
        href="https://www.linkedin.com/in/sidhantbhatia25/"
        target="_blank"
        class="logo-holder"
      >
        <img src="assets/linkedinLogo.png" class="logo" alt="linkeding-logo" />
      </a>
    </span>
  </div>
  <div class="coffee-footer">
    <a
      href="mailto:sidhant3b@gmail.com?Subject=Let&#39;s%20have%20coffee?"
      target="_top"
      >Hit me up for<img
        src="assets/coffeeLogo.png"
        class="logo-holder logo"
        alt="coffee-logo"
    /></a>
  </div>
</div>
