.p {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.profile-photo-block {
  text-align: left;
}

.profile-photo-block > p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.profile-photo {
  width: 150px;
  border-radius: 50%;
}

.profile-name {
  font-size: 2rem;
  color: black;
}

.profile-description {
  font-size: 1.5rem;
  color: rgba(14, 12, 12, 0.829);
}

.typewriter-block {
  display: none;
}

.info-block {
  text-align: left;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: rgba(14, 12, 12, 0.603);
}

.social-links-block {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 5%;
}

a {
  text-decoration: none;
}

.social-links-block > a {
  padding-right: 5px;
  transition: opacity 0.35s ease;
}

.logo-holder {
  padding: 5px;
}

.logo:hover {
  opacity: 0.5;
}

.logo {
  width: 35px;
}

.coffee-footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
}

@media only screen and (max-width: 320px) {
  .container {
    margin-left: 10px;
  }

  .info-block {
    font-size: 0.8rem;
  }

  .social-links-block {
    font-size: 0.8rem;
  }
}
