<div class="introduction-block">
  <div class="column profile-photo-block">
    <img class="profile-photo" src="../assets/sid-formal.jpg" />
    <p class="profile-name">SIDHANT BHATIA</p>
    <p class="profile-description">i write code.</p>
  </div>
  <div class="column">
    <div class="typewriter-block">
      <ide-typewriter class="column typewriter"></ide-typewriter>
    </div>
  </div>
</div>
<div class="social-links-block">
  <span
    >Follow my work
    <a
      href="https://github.com/siddhantbhatia"
      target="_blank"
      class="githubLogo fab fa-github fa-2x"
    ></a>
    <a
      href="https://www.linkedin.com/in/sidhantbhatia25/"
      target="_blank"
      class="linkedinLogo fab fa-linkedin fa-2x"
    ></a
  ></span>
  <span
    >Hit me up for
    <a
      href="mailto:sidhant3b@gmail.com?Subject=Let&#39;s%20have%20coffee?"
      target="_top"
      class="coffeeLogo fas fa-coffee fa-lg"
    ></a
  ></span>
</div>
