<p class="tagline">
  Solving Problems at
  <span><a href="http://airasia.com/" target="_blank">AirAsia Digital</a></span>
</p>
<br />
<p>
  First Class Honours:
  <span
    ><a href="https://www.monash.edu/it" target="_blank"
      >Monash University</a
    ></span
  >
</p>
<p>
  2020 Winter Intern:
  <span
    ><a
      href="https://warwick.ac.uk/fac/sci/statistics/research/"
      target="_blank"
      >Warwick Research Centre</a
    ></span
  >
</p>
<p>
  2019 Summer Intern:
  <span
    ><a href="https://en.4th-valley.com/aboutus/" target="_blank"
      >Fourth Valley Concierge
    </a></span
  >
</p>
<p>
  2018 Summer intern:
  <span
    ><a href="https://www.monster.com/about/" target="_blank">
      Monster Jobs
    </a></span
  >
</p>
<br />
<a href="mailto:siddhant8b@gmail.com?Subject=Hey Sid!">siddhant8b@gmail.com</a>
<p>Kuala Lumpur, <span>Malaysia</span></p>
