.tagline {
  margin-top: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
}

p {
  margin-top: 0em;
  margin-bottom: 0.4em;
}

a {
  color: rgba(14, 12, 12, 0.603);
  text-decoration: none;
}

span {
  color: black;
  font-weight: 550;
}
